<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


  </head>
  <body ng-app="starter" ng-controller="feed_reader">

    <ion-pane> 
      <ion-header-bar class="bar-balanced">
        <h1 class="title">CRIC MAD</h1>
      </ion-header-bar>
      <ion-content> 
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
            
        </ion-refresher>  
          
        <div class="list">  
              <!--track by <column> will make sure no dublicates with same id--> 
              <a class="item item-thumbnail-left" ng-click="openLink('{{story.url}}');" ng-repeat="story in stories" style="text-decoration: none;"> 
                <!--ng-if is used to avoid broken images-->
                <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')" />
                <img ng-src="img/no_thumbnail.jpg" ng-show="story.thumbnail.startsWith('self')" />
                <h4 class="title_wrap">{{story.title | uppercase}}</h4>
                <p style="font-style: italic;font-size: 9px;"> <span am-time-ago="story.created_utc | amFromUnix"></span> - {{story.domain | lowercase}}</p>
            </a> 
        </div>
          
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
            
        </ion-infinite-scroll>
      </ion-content>
    </ion-pane>


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </body>
</html>
